* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Inter', sans-serif;
}

body {
  background: #0f172a;
  color: #e5e7eb;
  
  display: flex;
  flex-direction: column;
  align-items: center;

  text-align: center;
}

img{

  max-width: 100%;
  height: 45px;
}
.container {
  max-width: 900px;
  width: 100%;
  margin: auto;
  padding: 20px 20px;

  display: flex;
  flex-direction: column;
  align-items: center;
}

header {
  text-align: center;
  padding: 60px 20px;
}

header h1 {
  font-size: 3rem;
  margin-bottom: 10px;
}

header p {
  font-size: 1.2rem;
  color: #94a3b8;
}

.btn {
  display: inline-block;
  margin: 10px;
  padding: 14px 26px;
  border-radius: 8px;
  text-decoration: none;
  font-weight: bold;
}

.btn-primary {
    background: #fc6603;
    color: #0f172a;
}

.btn-secondary {
  background: #1e293b;
  color: #e5e7eb;
}

.section {
  margin-top: 60px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.section h2 {
  font-size: 2rem;
  margin-bottom: 20px;
}

.card {
  background: #1e293b;
  border-radius: 12px;
  padding: 20px;
  margin-bottom: 20px;
   width: 100%;
  max-width: 700px;

  text-align: left;
}

.card img {
 display: block;
  margin: 20px auto;
  max-width: 100%;
}

footer {
  text-align: center;
  padding: 40px;
  color: #94a3b8;
}
